
.menu_titre > .vmenu {
  display: flex;
  align-items: center;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.row::before,
.row::after {
  content: "";
  display: table;
  clear: both;
}



.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #32CD32;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.modal {
  background-color: white;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  max-height: 80%;
  overflow-y: auto;
  font-family: 'Roboto', sans-serif;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 10px;
  border-bottom: 1px solid #ddd;
  background-color: #f2f2f2;
  position: sticky;
  top: 0;
  z-index: 1;
}

.modal-content {
  text-align: center;
  padding: 20px;
}

.modal-header>.closeBtn {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modal-header>.closeBtn:hover,
.modal-header>.closeBtn:focus {
  color: black;
  text-decoration: none;

}


.hidden{

  display: none;
}
